<div fxLayout="column" style="min-height: 100vh; height: 100vh">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Counter App</span>
      <span class="example-spacer"></span>
    </div>
    <button mat-raised-button color="warn" routerLink="/login">
      Login
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>

  <main fxFlex="auto" style="padding: 0 16px">
    <div style="margin: 32px auto; max-width: 1280px">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
